/* Colocamos o body sem margem */

body {
    margin: 0;
}

/* Responsavel pela maioria das divs */

.tela {
    width: 85%;
    border-right: 0.8dvw solid gray;
    border-left: 0.8dvw solid gray;
}

.tudo {
    display: flex;
}

/* Configuração de tamanhos das divs principais e seus layout */

.header {
    background-color: rgb(126, 141, 153);
    width: 100%;
    height: 14dvh;
    display: flex;
    align-items: center;
}

.logo_header{
    width: 50%;
}

.logo_header img{
    width: 40%;
    margin-left: 5%;
}

.banco24h img{
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: right;
    margin-right: 5%;
}

.imagemeinterativo {
    width: 100%;
    height: 49dvh;
    background-image: url(Imagens/mulher.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: #0bbb66;
    width: 100%;
    height: 35%;
    display: flex;
}



/* Texto do footer */

.texto1{ /*SAQ: 4002-8922*/
    position: relative;
    width: 30%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 40%;
    left: 5%;
    height: 5%;
}
.texto2{ /*O melhor banco 24H*/
    color: #d3b368;
    top: 20%;
    left: 37%;
    width: 40%;
    position: relative;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 5%;
    text-shadow: /*Efeito "3D" do botão*/
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     0px -1px 0 #000,
    -1px  0px 0 #000,
     1px  0px 0 #000,
     0px  1px 0 #000;
}
.texto3{ /*Sempre perto de você!*/
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    height: 5%;
    width: 40%;
    position: relative;
    top: 35%;
    right: 8%;
    text-shadow: /*Efeito "3D" do botão*/
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     0px -1px 0 #000,
    -1px  0px 0 #000,
     1px  0px 0 #000,
     0px  1px 0 #000;
}

/* Configuração dos botões e seus layouts */

.botoes {
    display: flex;
    justify-content: space-around;
    background-color: #0bbb66;
    width: 15%;
    height: 100dvh;
    align-items: center;
    flex-direction: column;
}

.botao{
    cursor: pointer;
    height: 12%;
    width: 45%;
    background-color: #d8d2d2;
    border: 2px solid #aaa; /* borda cinza escura */
    box-shadow: 0 6px 0 #666;
    padding: 10px 20px;
    font-weight: bold;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Configuração da animação */
}

/* Animação do botão */

.botao:hover {
    transform: translateY(1px);     /* leve afundamento */
    box-shadow: 0 4px 0 #666;
  }
.botao:active {
    transform: translateY(6px);     /* afundamento completo */
    box-shadow: 0 0 0 #666;
  }

/* Botão da tela */

.botao_tela{
    border-radius: 20px;
    background-color: #0bbb66;
    width: 40%;
    height: 10dvh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    position: relative;
    top: 11%;
    font-size: 30px;
    font-family: "Lexend", sans-serif;
}


/* O espaçador entre header e o footer */

.space{
    background-color: #d3b368;
    width: 100%;
    height: 1dvh;
    
}